@model AceKreme_v1.Dtos.CustomerDto
@{
    ViewData["Title"] = "Customer Details";
}
<h1>Customer Details</h1>

<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Email</dd>

    <dt class="col-sm-3">Phone</dt>
    <dd class="col-sm-9">@Model.Phone</dd>

    <dt class="col-sm-3">Address</dt>
    <dd class="col-sm-9">@Model.Address</dd>
</dl>

<div class="mt-3">
    <a class="btn btn-secondary" asp-action="List">Back to List</a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a>
</div>
